@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    width: fit-content;
    margin: auto;
  }
}

@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    max-width: 500px;
    margin: auto;
  }
}

@include mediaMd {
  main {
    .container {
      max-width: 500px;
      margin: auto;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 100vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;;
  }

  .menu-branding {
    height: 0vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/portraite.jpg');
      width: 128px;
      height: 179px;
      background-size: cover;
    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 1fr;
  }


    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
}

@include mediaSm {
  main {
    padding: 2rem;

    #home h1 {
      margin-top: 10vh;
    }

    .container {
      width: fit-content;
      margin: auto;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
