@include mediaSmMd {
  .menu {
    &-nav,
    &-branding {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &-nav {
      height: 100vh;
      transform: translate3d(-100%, 0, 0);
      padding-left: 40px;
    }

    &-branding {
      height: 0vh;
      transform: translate3d(100%, 0, 0);

      .portrait {
        background: url('../img/portrait_small.jpg');
        width: 150px;
        height: 150px;
      }
    }
  }
}

@include mediaSm {
  main {
    padding: 30px;
    // height: 100%;
    min-width: 285px;
    // padding-bottom: 62px;
    // overflow: hidden;

    &#home {
      h1 {
        margin-top: 20vh;
        padding-bottom: 30px;
      }

      .lg-heading {
        font-size: 53px;
        line-height: 1;
      }

      .sm-heading {
        width: 230px;
      }
    }

    .container {
      width: 280px;
      margin: auto;
    }

    &#markup {
      .wrapper {
        display: block;
      }

      .crop {
        width: 250px;
        height: 400px;
        overflow: hidden;
        margin-bottom: 50px;

        .screenshot {
          width: 250px;
        }
      }

      .box {
        padding-left: 0;
      }

      .box-text {
        font-size: 20px;
        margin-bottom: 60px;
        padding-left: 1rem;

        &.box-text_title {
          font-size: 35px;
          font-weight: 600;
        }
      }

      .technologies {
        padding-left: 40px;
      }
    }

    .projects {
      grid-template-columns: 1fr;
    }
  }

  .menu {
    .menu-nav {
      padding-left: 60px;

      .nav-projects {
        font-size: 27px;
      }

      .nav-link {
        font-size: 23px;
      }
    }
  }
}

@include mediaMd {
  main {
    padding: 30px;
    padding-bottom: 320px;

    &#home {
      .lg-heading {
        font-size: 60px;
      }
    }

    .container {
      max-width: fit-content;
      margin: auto;
    }

    .sm-heading {
      margin-bottom: 50px;
    }

    .wrapper {
      display: flex;
    }

    .box {
      padding-left: 50px;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    .screenshot {
      width: 250px;
      height: auto;
    }
  }

  .box-text {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    .menu-nav {
      padding-left: 100px;
    }
  }

  .nav-link {
    font-size: 24px;
  }
}

@include mediaLg {
  main {
    &#home {
      .lg-heading {
        font-size: 90px;
        line-height: 1;
      }
    }

    &#markup {
      .projects {
        grid-template-columns: repeat(3, 1fr);
      }

      .wrapper {
        display: flex;
        min-width: 300px;
        overflow: visible;
      }

      .screenshot {
        min-width: 250px;
        height: auto;
      }
    }

    .box {
      min-width: 300px;
      padding-left: 50px;
    }

    .container {
      margin: auto;
    }


    .box-text {
      max-width: 700px;
      font-size: 20px;
      margin-bottom: 60px;
    }
  }
}

@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    width: fit-content;
    margin: auto;
  }

  .wrapper {
    display: flex;
    max-width: 800px;
    margin: auto;
  }

  .box {
    padding-left: 50px;
  }

  .screenshot {
    width: 250px;
    height: auto;
  }

  .box-text {
    max-width: 700px;
    font-size: 20px;
    margin-bottom: 60px;
  }
}
