$primary-color: #444;
$secondary-color: #eece1a;
$green-color: #7fff00;
$technomarket-color: #293449;

$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      // background: $home-image rgba($primary-color, $background-opacity);
      background-image: $home-image;
      // background-color: rgba($primary-color, $background-opacity);
      // background-color: rgba(68, 68, 68, $background-opacity);
      // background-color: $primary-color;

      background-attachment: fixed;
      background-size: cover;
      // filter: blur(8px);
      // -webkit-filter: blur(8px);

       &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
       }
    }
  }
}

@mixin mediaSmMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 550px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 551px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
